<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>



<iframe src="https://donation.hamrolifebank.com/login" style=" border-radius: 60px;
width: auto;
height: 1000px;
border: 1px solid gray;"> </iframe>